/* Global styles */
:root {
  --light: #e2e9f0;
  --dark: #2F3240;
  --primary: #C84A26;
  --secondary: #DF8C27;
  --tan: #efd5a6;
  --mauve: #CFC5C5;
  --teal: #4F8484;
}

body {
  background-color: var(--light);
}

header {
  color: var(--light);
  background: rgb(223,142,38);
  background: linear-gradient(270deg, rgba(223,142,38,1) 0%, rgba(200,38,38,1) 100%);
}

li {
  list-style: none;
}

/* Search Section */
#city-input {
  width: 140px;
}

.search-button {
  width: 140px;
  height: 30px;
  border-radius: 25px;
  border: none;
  color: var(--light);
  background-color: var(--teal);
}

.search-button:hover {
  background-color: #436f6f;
}

/* Current Day - Main Weather Section */
#city-info {
  color: var(--light);
  background-color: var(--teal);
  border-radius: 10px;
}

#city-info img {
  width: 70px;
}

/* Five Day Forecast Section */
#five-day {
  display: flex;
  flex-wrap: wrap;
}

.card {
  color: var(--light);
  background-color: var(--dark);
  border-radius: 10px;
  flex: 0 0 200px;
  padding: 20px;
  margin: 10px;
}

.card img {
  width: 50px;
}