/* Global styles */
:root {
  --snow: #ffffff;
  --primary: blue;
  --secondary: ;
  --light: ;
  --dark: #212529;
}

header {
  color: var(--snow);
  background: rgb(223,142,38);
  background: linear-gradient(270deg, rgba(223,142,38,1) 0%, rgba(200,38,38,1) 100%);
}

li {
  list-style: none;
}

/* Search Section */
.search-button {
  width: 200px;
  height: 30px;
  border-radius: 25px;
  /* padding: 20px; */
}

.search-button:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

/* Current Day - Main Weather Section */


/* Five Day Forecast Section */
#five-day {
  display: flex;
  flex-wrap: wrap;
}

.card {
  color: var(--snow);
  background-color: var(--dark);
  border-radius: 10px;
  flex: 0 0 200px;
  padding: 20px;
  margin: 10px;
}